/* common */

body{
  font-size: 100%;
  font-style:  "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

p{
  font-size: 1.6rem;
}

h3{

}

a{
  text-decoration: none;
  color: black;
}


/* 個別 */

article.fixed-content{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.box-shadow{
  position: relative;
  box-shadow: 0px 2px 5px rgb(0,0,0,0.4);
}

#first-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
}

#first-menu .btw-left,.btw-right{
  display: flex;
  align-items: center;
  flex: 1;
}
#first-menu .btw-left a , .btw-right a{
  display: block;
  height: 100%;
}
#first-menu .btw-left a.list-icon{
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}
#first-menu .btw-left a.list-icon:hover{
  background-color: black;
  color: white;
}

#first-menu .btw-left i{
  font-size: 48px;
}

#first-menu .btw-left div.bg-logo{
  height: 60px;
  width: 240px;
  background-image: url(../imgs/titleLogo.png);
  background-repeat: no-repeat;
  background-position: center;
}
#first-menu form{
  width: 100%;
}
#first-menu .btw-center{
  display: flex;
  padding-top: 8px;
  flex: 2;
  width: 100%;
}
#first-menu .btw-center  input{
  border: 1px solid #333;
  height: 48px;
  width: 80%;
  border-radius: 4px 0px 0px 4px;
  font-size: 100%;
  /* 入力文字サイズはheightと同じにする */
}
#first-menu .btw-center  input:focus{
  border: 2px solid #333;
}
#first-menu .btw-center  button{
  height: 48px;
  width: 20%;
  border-radius: 0px 4px 4px 0px;
  background-color: #333;
  color: white;
  border: 1px solid #333;
}


#first-menu .btw-right {
  justify-content: right;
  padding-right: 32px;
}
#first-menu .btw-right a{
  height: 70%;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}
#first-menu .btw-right a:hover{
  background-color: black;
  color: white;
}
#first-menu .btw-right a + a{
  margin-left: 8px;
}

#first-menu .btw-right i{
  font-size: 36px;
}

#first-menu .btw-right .global-icon {
  text-align: center
}
#first-menu .btw-right .global-icon i{
  font-size: calc((2 / 3) * 100%);
}
#first-menu .btw-right .global-icon p{
  height: calc((1 / 3) * 100%);
  font-size: 8px;
}

#second-menu{
  display: flex;
  flex-direction: row;
  width: 100%;
}
#second-menu nav{
  width: 100%;
}
#second-menu ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  text-align: center;
}
#second-menu ul > li{
  flex-grow: 1;
  /* border-bottom: 1px solid black; */
}
#second-menu ul > li + li{
  /* border-left: 1px solid black; */
}
#second-menu ul > li > a{
  display: block;
  padding: 12px 8px;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}
#second-menu ul > li > a:hover{
  background-color: black;
  color: white;
}

#media-search{
  display: none;
}


#carousel-content{
  padding-top: 160px;
  background-image: url(../imgs/slide-back-img.png);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-size: 80px;
  background-repeat: space;
}
.carousel-slides{
  display: flex;
  position: relative;
  height: 400px;
  width: 600px;
  margin: 0 auto;
  outline: 1px solid black;
  overflow: hidden;
}
.carousel-slides ul.slides{
  display: flex;
  list-style: none;
  transform: translateX(0px);
  transition: transform 0.5s;
}
.carousel-slides ul.slides > li{
  height: 100%;
  width: 100%;
}
.carousel-slides ul.slides img{
  width: 600px;
  height: 400px;
}


.carousel-slides .left-button, .carousel-slides .right-button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  padding: 0 12px;
  background-color: lightgray;
}
.carousel-slides .left-button{
  left: 0;
}
.carousel-slides .right-button{
  right: 0;
}
.carousel-slides .left-button:hover, .carousel-slides .right-button:hover{
  opacity: 0.5;
}

ul.dots{
  margin: 0 auto;
  padding: 0 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 600px;
  height: calc(100px * 0.6);
  margin: 0 auto;
  list-style: none;
  background-color: white;
}
ul.dots li{
  height: 100%;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 2px;
}
ul.dots li a{
  opacity: 0.7;
  transition: opacity 0.3s;
  border-radius: 2px;
}
ul.dots li a:hover{
  opacity: 1;
}
ul.dots img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

#searchMenus{
  margin-top: 64px;
  padding: 0 24px;
}
.card-search{
  text-align: left;
}
.card-search h3{
  border-bottom: 1px solid black;
}
.card-search input[type="search"]{
  margin-top: 8px;
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 4px;
}
.card-search input[type="search"]:focus{
  border: 2px solid black;
}

.card-sets{
  margin-top: 64px;
}
.card-sets h3{
  border-bottom: 1px solid black;
}
.card-sets select{
  margin-top: 8px;
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 4px;
  appearance:auto;
}
.card-sets select:focus{
  border: 2px solid black;
}


.color-select{
  margin-top: 64px;
}
.color-select h3{
  border-bottom: 1px solid black;
}
.color-select input[type="checkbox"]+label:before{
  cursor: pointer;
  display: inline-block;
  content: "";
  width: 64px;
  height: 64px;
  border-radius: 50%;
  opacity: 0.5;
}
.color-select input[type="checkbox"]{
  /* チェックボックス自体はいらないので切っておく */
  display: none;
}


input[type="checkbox"]:checked+label:before{
  opacity: 1;
}
input[type="checkbox"]+label[for="blue"]:before{
  background-image: url(../imgs/color-pie-blue.png);
  background-size: cover;
}
input[type="checkbox"]+label[for="red"]:before{
  background-image: url(../imgs/color-pie-red.png);
  background-size: cover;
}
input[type="checkbox"]+label[for="white"]:before{
  background-image: url(../imgs/color-pie-white.png);
  background-size: cover;
}
input[type="checkbox"]+label[for="green"]:before{
  background-image: url(../imgs/color-pie-green.png);
  background-size: cover;
}
input[type="checkbox"]+label[for="black"]:before{
  background-image: url(../imgs/color-pie-black.png);
  background-size: cover;
}

.rarity-select input[type="radio"]{
  display: none;
}
.rarity-select h3{
  border-bottom: 1px solid black;
}

.rarity-select input[type="radio"]+label:before{
  cursor: pointer;
  display: inline-block;
  content: "";
  width: 64px;
  height: 64px;
  border-radius: 50%;
  opacity: 0.5;
}
.rarity-select input[type="radio"]:checked+label:before{
  opacity: 1;
}
.rarity-select input[type="radio"]+label[for="urare"]:before{
  background-image: url(../imgs/UR.png);
  background-size: cover;
}
.rarity-select input[type="radio"]+label[for="srare"]:before{
  background-image: url(../imgs/SR.jpg);
  background-size: cover;
}
.rarity-select input[type="radio"]+label[for="rare"]:before{
  background-image: url(../imgs/R.jpg);
  background-size: cover;
}
.rarity-select input[type="radio"]+label[for="uncom"]:before{
  background-image: url(../imgs/UN.jpg);
  background-size: cover;
}
.rarity-select input[type="radio"]+label[for="com"]:before{
  background-image: url(../imgs/C.jpg);
  background-size: cover;
}







/* javaScript制御用セレクター群 */
/* accordionメニュー */
.accordion-menu{
  position: absolute;
  width: 176px;
  text-align: center;
  background-color: rgba(255,201,203,0.8);
  box-shadow: 2px 2px 4px rgb(0,0,0,0.4);
  z-index: 3;
}
.accordion-menu ul{
  overflow: hidden;
  height: 0px;
  min-height: 0px;
  transition: min-height 0.3s;
}
.accordion-menu ul.appear{
  min-height: 371px;
}
.accordion-menu a{
  display: block;
  padding: 8px 24px;
  width: 100%;
  font-weight: bold;
}
.accordion-menu a:hover{
  background-color: rgba(255,0,0,0.5);
  color: white;
}

/* カルーセルslide */
.carousel-slides .left-button.hidden,.carousel-slides .right-button.hidden{
  opacity: 0;
  pointer-events: none;
}

ul.dots li a.selected{
  opacity: 1;
}

/* スマホ用メディアクエリ */
@media(max-width:700px){
  #first-menu .btw-center {
    display: none;
  }

  #media-search{
    display: block;
    padding: 8px 4px 8px;
    z-index: 1;
    background-color: white;
  }
  #media-search input{
    border: 1px solid #333;
    height: 48px;
    width: 80%;
    border-radius: 4px 0px 0px 4px;
    font-size: 100%;
    /* 入力文字サイズはheightと同じにする */
  }
  #media-search input:focus{
    border: 2px solid #333;
  }
  #media-search button{
    height: 48px;
    width: 20%;
    border-radius: 0px 4px 4px 0px;
    background-color: #333;
    color: white;
    border: 1px solid #333;
  }
}






